@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Route</h1>
    <p class="lead">The ticket monitoring with email notification.</p>
</div>

<div class="row">
    <div class="col-md-4" align="center">
        <h2>Railway</h2>
        <span class="label label-success">Available</span>
        <button type="button" class="btn btn-default ">@Html.ActionLink("Create monitoring", "Create", "Monitoring")</button>
    </div>
    <div class="col-md-4" align="center">
        <h2>Bus</h2>
        <span class="label label-danger">Coming soon...</span>
    </div>
    <div class="col-md-4" align="center">
        <h2>BlaBlaCar</h2>
        <span class="label label-danger">Coming soon...</span>
    </div>
</div>